/* .checkCircleContainer {
  position: relative;
  float: left;
} */

/* .checkCircleLeaguesContainer {
  padding: 2%;
  position: relative;
  right: -46.5%;
} */

.circleIsChecked {
  color: 'green';
  cursor: 'pointer';
}

.circleIsNotChecked {
  color: 'gray';
  cursor: 'pointer';
}